*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.con{
    height:auto;
    margin-top:0;
}
.cimage{
    width:100%;
    height:30rem;
    

}

.hsection{
    width:100%;
    height:30rem;
    background: url("../assets/images/consultancy.jpg");
    position: relative;
    top:-3-25x;
    
    background-size: cover;
}

.heading{
    color:white;
    text-align: center;
    padding-top: 3rem;
    font-size: 5rem;
}
.heading2{
    color:white;
    text-align:center;
    font-size:3rem;
    padding-top:3rem;
    

}

.b{
    text-align: center;
    border-radius: 1rem;
    border-color: rgb(174, 56, 13);
    margin-top: 1rem;

}
.btn{
    width:20rem;
    height:5rem;
    font-size: x-large;
    border-radius: 5%;
    color: aliceblue;
    
    background-color: orangered;
    border-radius: 20px;
    
    
    
}

.vets{
    text-align: center;
    margin-top:3rem;
    margin-bottom:3rem;
}

.cards{
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1px;
    
}


/*.box{
    flex-grow: 1;
}    */


.form-section{
    justify-content: center;
    text-align: center;
    align-items: center;
    display:flex;
    flex-wrap:wrap;
}

.why{
    width:50%;
}

.cform{
    width:45rem;
}


@media (max-width:747px){

    .heading{
        color:white;
        text-align: center;
        padding-top: 2.5rem;
        font-size: 3rem;
    }
    .heading2{
        color:white;
        text-align:center;
        font-size:2.5rem;
        padding-top:0.5rem;
    
    }

    .btn{
        width:15rem;
        height:3rem;
        font-size: x-large;
        border-radius: 5%;
        color: aliceblue;
        
        background-color: orangered;
        border-radius: 20px;
        
        
        
    }

}