*{
    margin:0;
    padding:0;
}


body{
    background:#eef8ff;

}

footer{
    
    width:100%;
    position:absolute;
    
    background:linear-gradient(to right,#00093c,#2d0b00);
    color:#fff;
    padding:100px 0 30px;
    border-top-left-radius:125px;
    font-size:13px;
    line-height:20px;

}

.row{
    width:85%;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    justify-content:space-between;

}

.col{
    flex-basis:25%;
    padding:10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis:25%;
}

.logo{
    width:80px;
    margin-bottom:30px;
}

 h3{
    width:fit-content;
    margin-bottom:30px;
    position:relative;
}

ul li{
    list-style:none;
    margin-bottom:12px;
}

ul li a{
    text-decoration:none;
}

@media(max-width:700px){
    footer{
        bottom:unset;
    }

    .col{
        flex-basis:100%;
    }
}