*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

.himanshu{
    background-color:#a855f7;
}

h1{
    font-size: 50px;
    text-align: center;
    
    margin-bottom: 2rem;
}

h2{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container{
    
    background-color:#a855f7;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container img{
    width:400px;
    height:15rem;
    border-radius: 35px;
    margin-left: 3px;
    margin-top: 4px;
}

.box{
    background-color:white;
    border-radius: 50px;
    margin-top: 12px;
    margin-bottom: 80px;
    width:410px;
}

p{
    font-size: 18px;
    font-style: oblique;
    font-weight: 400px;
    padding:10px;
    text-align: center;
}


@media (max-width:819px){

    .container{
    
        
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .box{
        background-color:white;
        margin-top: 12px;
        width:410px;
    }

}

@media (max-width:426px){

    .container img{
        width:335px;
        height:15rem;
        border-radius: 35px;
        margin-left: 3px;
        margin-top: 4px;

    }

    .box{
        background-color:white;
        margin-top: 12px;
        width:340px;
    }


}